#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
    .form_contact {
    width: 600px;
    text-align: center;
  }
  
  form .input-box{
    display: flex;
    justify-content: space-between;
  }

  .input-box .input-field{
    width: 48.5%;
  }

  .field .item{
    width: 100%;
    padding: 18px;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 12px 0;
  }

  .field .error-txt{
    font-size: 14px;
    text-align: left;
    color: yellow;
    margin: -5px 0 10px;
    display: none;
  }


  .field.error .item {
    border-color: yellow;
  }

  .field.error .error-txt {
    display: block;
  }

  form textarea{
    resize: none;
  }

  // form button{
  //   padding: 12px 32px;
  //   border: none;
  //   outline: none;
  //   border-radius: 6px;
  //   box-shadow: 0 0 10px;
  //   font-size: 16px;
  //   cursor: pointer;
  //   margin-top: 20px;
  // }

  // form button:hover{
  //   box-shadow: none;
  // }

  form button {
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  
    &::after {
      content: "";
      background: $primary-color;
      width: 0px;
      height: 100%;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }
  
    &:hover {
      color:  $primary-color;
      background: $secondary-color;
      text-decoration: none;
  
      &::after {
        width: 100%;
      }
    }
  }
  
}


